<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="text/pain" />
            <mimeMap fileExtension=".exml" mimeType="text/pain" />
        </staticContent>
    </system.webServer>
</configuration>
